:root {
  --cont-size: 960px;
}
.container {
  background-color: blue;
  width: var(--cont-size);
  height: var(--cont-size);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.square {
  box-sizing: border-box;
}

.drawn {
  background-color: darkblue;
}
